

header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    /* align-items: center; */
    height: max-content;
    padding: 20px;
    width: 100%;
    background-color:  #E3E7E8;
}

body {
    background-color:  #E3E7E8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 200px;
}

header h1 {
    font-size: 60px;
    font-family: Dancing Script;
    color: rgb(222, 117, 135);
    text-shadow: 1px 1px 2px black;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.header{
   
    height: 100%;
    margin-right: 250px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header a {
    padding-right: 10px;
    text-decoration: none;
    color: brown;
    font: 500 1rem 'Quicksand', sans-serif;
    font-weight: 500;
}

.header a:hover {
    color: rgb(23, 18, 13);
}

header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

#logo {
    width: 80px;
    height: auto;
    border-radius: 100px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.main {
   
   background-color:  #E3E7E8;
   width: 100%;
   
   
}

.welcome {
    margin-left: 10%;
    color: #18b162;
}

footer {
    display: flex;
    
    position:fixed;
    width: 100%;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color:  #E3E7E8;
    
    
}

.about img {
    width: 50px;
    height: auto;
}

.ig img {
    margin-right: 50px;
}

.ig img{
    width: 30px;
    height: auto;
}

.offer {
    text-align: center;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
   
   
    
    
}

.offer p {
    font-family: 'Kanit', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}


.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    margin-top: 10px;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #bd576b;
    color: #fff;
    width: 100%;
    padding: 10px;
}

.list .item button:hover {
    background-color: #E8BC0E;
}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 400px;
    background-color: #9a9796;
    height: 90vh;
    transition: 0.5s;
    margin-bottom: 50px;
    border-radius: 10px;
}
.active .card{
    left: calc(100% - 400px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #f2c203;
    font-weight: bolder;
    margin: 0;
    padding: 0 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.listCard li img{
    width: 90%;
    
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_form label {
    display: block;
    margin-bottom: 10px;
    width: 50%;
    height: 20px;
    
  }
  
  .login_form input[type="text"],
  .login_form input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #bd67a9; /* Pink border for input fields */
    border-radius: 5px;
  }
  
  .login_form input[type="text"]:focus,
  .login_form input[type="password"]:focus {
    outline: none;
    border-color: #ff69b4; /* Lighter pink on focus */
  }

  .login_form input[type="text"],
  .login_form input[type="email"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #bd67a9; /* Pink border for input fields */
    border-radius: 5px;
  }
  
  .login_form input[type="text"]:focus,
  .login_form input[type="email"]:focus {
    outline: none;
    border-color: #ff69b4; /* Lighter pink on focus */
  }
  
  .login_form button {
    background-color: #bd67a9; /* Pink background color for the button */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
  }
  
  .login_form button:hover {
    background-color: #ff69b4; /* Lighter pink on hover */
  }



  .signup_form {
    display: flex;
    flex-direction: column;
    /* background-color:rgb(242, 218, 229); 
    border-radius: 10px; */
    padding: 20px;
    align-items: center;
    justify-content: center;
    /* box-shadow: 4px 4px 4px 2px rgba(49, 47, 45, 0.8); Add a subtle shadow */
    width: 100%; /* Adjust the width as needed */
    /*  */
  }

  .signup_form button {
    background-color: #bd67a9; /* Pink background color for the button */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
  }
  
  .signup_form button:hover {
    background-color: #ff69b4; /* Lighter pink on hover */
  }

  .signup_form input[type="text"],
  .signup_form input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #bd67a9; /* Pink border for input fields */
    border-radius: 5px;
  }
  
  .signup_form input[type="text"]:focus,
  .signup_form input[type="password"]:focus {
    outline: none;
    border-color: #ff69b4; /* Lighter pink on focus */
  }

  .signup_form input[type="text"],
  .signup_form input[type="email"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #bd67a9; /* Pink border for input fields */
    border-radius: 5px;
  }
  
  .signup_form input[type="text"]:focus,
  .signup_form input[type="email"]:focus {
    outline: none;
    border-color: #ff69b4; /* Lighter pink on focus */
  }
/* 
.products {
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
    
}

.products p {
    font-size: large;
    font-family: 'Kanit', 'Arial Narrow', Arial, sans-serif;
    
}

.products img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid 0.1px rgb(192, 187, 182);
    
}
.prod-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    box-shadow: 0 50px 50px #757676;
    padding: 10px;
    border-radius: 15px;
    background-color: #DCE0E1;
}

.buy_button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #bd67a9;
    color: #ffffff; 
    font-size: 16px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  
  .buy_button:hover {
    background-color: #2980b9; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px); 
  }
  
  
  .buy_button:focus {
    outline: none;
  } */


@media only screen and (max-width: 640px) {

    .list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 5px;
        row-gap: 15px;
        margin-top: 20px;
    }
    .products {
        display: flex;
        flex-direction: column;
        
        
    }

    .offer p {
       
        font-size: 19px;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 30px;
        width: auto;
        /* box-shadow: 2px 2px 2px 1px rgba(229, 20, 20, 0.2);
        border: solid pink; */
        /* background: url(background-small.png); */
        /* background-size: cover; */
    }

    .header {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }
    #logo {
        width: 80px;
        height: auto;
        border-radius: 100px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    header h1 {
        font-size: 30px;
        font-family: Dancing Script;
        color: rgb(222, 117, 135);
        text-shadow: 1px 1px 2px black;
        padding: 0;
    }

   
    
    .header a {
        padding-right: 10px;
        text-decoration: none;
        color: brown;
        font: 500 1rem 'Quicksand', sans-serif;
        
    }

   .main {
    margin-bottom: 20px;
   }

   .listCard {
    margin: 0;
    padding: 10px;
   }
   .active .card {
   
        left: calc(100% - 470px);
    
   }

   .welcome {
    margin-left: 0;
    color: #18b162;
}
    footer {
        
        font-size: x-small;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .ig {
        width: 12px;
        margin-right: 15px;
        padding-right: 10px;
    }

}

