

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-color: rgb(227, 217, 203);
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(229, 20, 20, 0.2);
    border: solid pink;
}

header h1 {
    font-size: 30px;
    font-family: Dancing Script;
    color: rgb(222, 117, 135);
}

.info {
    display: flex;

}

.info a {
    padding-right: 10px;
    text-decoration: none;
    color: brown;
    font-family: 'Comfortaa', 'Arial Narrow', Arial, sans-serif;
}

#logo {
    width: 80px;
    height: auto;
    border-radius: 100px;

}

.main {
    width: 100%;
    height: 600px;
   width: 100%;

}

.footer {
    display: flex;
    position: fixed;
width: 100%;
bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

.ig img {
    margin-right: 50px;
}

.ig img{
    width: 30px;
    height: auto;
}

.offer {
    text-align: center;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.offer p {
    font-family: Dancing Script;
    font-size: 30px;
}

.products {
    display: flex;
    justify-content: center;
    
    align-items: center;
    margin: 100px;
}

.products p {
    font-size: small;
    font-family: 'Kanit', 'Arial Narrow', Arial, sans-serif;
    
}

.products img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.prod-pic {
    margin: 20px;
}


@media only screen and (max-width: 640px) {
    .products {
        display: flex;
        flex-direction: column;
        
        margin: 50px;
    }

    .offer p {
       
        font-size: 19px;
    }
}